<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="Pagina web de José A. Ramírez Codallo">
        <meta name="keywords" content="jarcodallo,jarc,jose,ramirez">
        <meta name="author" content="José Ramírez jarcodallo@gmail.com">

        <title>Jarcodallo</title>

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/themes/green.css">
    </head>
    <body class="loaded">
        <div class="wrapper">
            <nav class="main-nav main-nav-visible">
                <div>
                    <ul>
                        <li class="current"><a href="#about">About</a></li>
                        <li><a href="#resume">Resume</a></li>
                        <li><a href="#service">Services</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>

            </nav>
            <div class="main-content">
                <section id="about" class="site-section about-section styled-section">
                    <div class="intro">
                        
                    </div>
                    <div class="container">
                        <div class="about row-t">
                            <div class="col">
                                <div class="site-photo">
                                    <img src="img/photo.jpg" width="250" height="250" alt="Phto Jarcodallo" class="photo"></div>
                            </div>
                            <div class="col">
                                <h3>Hello there</h3>
                                <div class="separator l"></div>
                                <blockquote>
                                    <p>
                                        Entusiasta de las tecnologías libres, apasionado por el desarrollo web. Con la capacidad y experiencia necesaria para la creación de soluciones innovadoras a problemas complejos, participando en la gestión y coordinación de proyectos para departamentos de IT. Preciso en todo lo que hago asumiendo la responsabilidad de mi propio desarrollo personal, evaluando y actualizando continuamente mis habilidades.
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </section>         
            </div>
        </div>
    </body>
</html>