<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="Pagina web de José A. Ramírez Codallo">
        <meta name="keywords" content="jarcodallo,jarc,jose,ramirez">
        <meta name="author" content="José Ramírez jarcodallo@gmail.com">

        <title>Jarcodallo</title>

        <link href="http://fonts.googleapis.com/css?family=Comfortaa:400,700%7CNoto+Sans:400,400italic,700,700italic&amp;amp;subset=latin,cyrillic" rel="stylesheet">

        <link rel="stylesheet" href="css/libs/normalize.min.css">
        <link rel="stylesheet" href="css/libs/font-awesome.css">
        <link rel="stylesheet" href="css/libs/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/themes/green.css">
    </head>
    <body class="loaded">
        <div class="wrapper">
            <nav class="main-nav main-nav-visible">
                <div>
                    <ul>
                        <li class="current"><a href="#about">About</a></li>
                        <li><a href="#resume">Resume</a></li>
                        <li><a href="#service">Services</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>

            </nav>
            <div class="main-content">
                <section id="about" class="site-section about-section styled-section">
                    <div class="intro">
                        
                    </div>
                    <div class="container">
                        <div class="about row-t">
                            <div class="col">
                                <div class="site-photo">
                                    <img src="img/photo.jpg" width="250" height="250" alt="Phto Jarcodallo" class="photo"></div>
                            </div>
                            <div class="col">
                                <h3>Hello there</h3>
                                <div class="separator l"></div>
                                <blockquote>
                                    <p>Entusiasta de las tecnologías libres, apasionado por el desarrollo web. Con la capacidad y experiencia necesaria para la creación de soluciones innovadoras a problemas complejos, participando en la gestión y coordinación de proyectos para departamentos de IT. Preciso en todo lo que hago asumiendo la responsabilidad de mi propio desarrollo personal, evaluando y actualizando continuamente mis habilidades.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="resume" class="site-section resume-section">
                    <div class="container">
                        <header class="heading">
                            <h2>Resume</h2>
                        </header>
                        <div class="row">
                            <div class="col span_3">
                                <h3>Education</h3>
                                <div class="exp scroll">
                                    <div class="date">2006 - 2012</div>
                                    <h4>U.N.E.F.A</h4>
                                    <p>Descripción de la carrera</p>

                                    <div class="date">2001 - 2006</div>
                                    <h4>Teresa Carreño</h4>
                                    <p>Descripción de la carrera</p>
                                </div>
                            </div>
                            <div class="col span_3">
                                <h3>Employment</h3>
                                <div class="exp scroll">
                                    <div class="date">2016 - present</div>
                                    <h4>PontaMedia / Senior Software Engineer</h4>
                                    <p>Ser responsable de las tecnologías actuales de Ponta Media, como así también participar de la creación de nuevos productos y servicios.</p>

                                    <div class="date">2015 - 2016</div>
                                    <h4>ClickOn / Desarrollador Web Senior</h4>
                                    <p>Descripción de la carrera</p>

                                    <div class="date">2013 - 2015</div>
                                    <h4>Allus BPO / Desarrollador Web Senior</h4>
                                    <p>Descripción de la carrera</p>

                                    <div class="date">2012 - 2013</div>
                                    <h4>Metamax / Desarrollador Web Senior</h4>
                                    <p>Descripción de la carrera</p>

                                    <div class="date">2011 - 2012</div>
                                    <h4>PwC / Desarrollador SemiSenior</h4>
                                    <p>Descripción de la carrera</p>

                                    <div class="date">2010 - 2011</div>
                                    <h4>Lechuza Comunicaciones / Desarrollador Web Junior</h4>
                                    <p>Descripción de la carrera</p>
                                </div>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="row">
                            <div class="col span_3">
                                <h3>Skills</h3>
                            </div>
                            <div class="col span_3">
                                <h3>I use</h3>
                                    <ul class="tools">
                                    <li>PHP</li>
                                    <li>Java</li>
                                    <li>Python</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Linux</li>
                                    <li>jQuery</li>
                                    <li>Bootstrap</li>
                                    <li>Scrum</li>
                                    <li>Git</li>
                                    <li>MySql</li>
                                    <li>MongoDB</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>        
            </div>
        </div>

        <script src="js/libs/jquery-1.11.3.min.js"></script>
        <script src="js/libs/jquery.magnific-popup.min.js"></script>
        <script src="js/libs/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/libs/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="js/libs/jquery.nav.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>